<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head><title>Form Input Mahasiswa</title></head>
<body>
<h2>Form Input Mahasiswa</h2>
<form action="/submit" method="post" th:object="${user}">
    <label>Nama:</label><br>
    <input type="text" th:field="*{nama}" required><br><br>

    <label>NIM:</label><br>
    <input type="text" th:field="*{nim}" required><br><br>

    <label>Jenis Kelamin:</label><br>
    <input type="radio" th:field="*{jenisKelamin}" value="Laki-laki"> Laki-laki<br>
    <input type="radio" th:field="*{jenisKelamin}" value="Perempuan"> Perempuan<br><br>

    <button type="submit">Submit</button>
</form>
<br>
<a href="/home">Kembali ke Home</a>
</body>
</html>