<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head><title>Home</title></head>
<body>
<h2>MY Website 20230140126</h2>
<p>Selamat datang di aplikasi!</p>

<a href="/form"><button>Input Data Mahasiswa</button></a>
<a href="/"><button>Logout</button></a>

<h3>Data Mahasiswa</h3>
<table border="1">
    <tr>
        <th>No</th>
        <th>Nama</th>
        <th>NIM</th>
        <th>Jenis Kelamin</th>
    </tr>
    <tr th:each="user, stat : ${users}">
        <td th:text="${stat.count}"></td>
        <td th:text="${user.nama}"></td>
        <td th:text="${user.nim}"></td>
        <td th:text="${user.jenisKelamin}"></td>
    </tr>
</table>
<p th:if="${#lists.isEmpty(users)}">Belum ada data</p>
</body>
</html>